@* @{ *@
@*     ViewData["Title"] = "Home Page"; *@
@* } *@

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@

@model IEnumerable<StudentConsumeWebAPI.Models.Student>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Class</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Age</td>
                <td>@student.Class</td>
                <td><img src="@student.Photo" alt="Student Photo" width="100" /></td>
                @* <td>@student.Photo</td> *@
            </tr>
        }
    </tbody>
</table>